@media (max-width: 565px)
{
    .post-grid
    {
        display: grid;
        grid-template-areas:
        "h"
        "s"
        "s"
        "m"
        "m"
        "f"
        "f";
    }

    .main-headline-container
    {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .nav
    {
        align-items: flex-start;
    }
}

@media (min-width: 566px) and (max-width: 991.98px)
{
    .post-grid
    {
        display: grid;
        grid-template-areas:
        "h"
        "s"
        "s"
        "m"
        "m"
        "f"
        "f";
    }

    .post-header
    {
        text-align: center;
    }

    .nav, .nav-ul
    {
        align-items: center;
    }

    .main-headline-container
    {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .main-headline
    {
        text-align: center;
    }
}

@media (min-width: 992px)
{
    .nav-btn
    {
        margin-left: 30px;
    }

    .nav-link
    {
        margin-left: 0px;
    }
}