@media (max-width: 991.98px)
{
    .post-grid
    {
        display: grid;
        grid-template-areas:
        "h"
        "s"
        "s"
        "m"
        "m"
        "f"
        "f";
    }

    .post-header
    {
        text-align: center;
    }

    .nav, .nav-ul
    {
        align-items: center;
    }

    .cards-container
    {
        flex-direction: column;
        align-items: center;
    }

    .card
    {
        margin: 20px;
    }
}

@media (min-width: 992px)
{
    .nav-btn
    {
        margin-left: 30px;
    }

    .nav-link
    {
        margin-left: 0px;
    }
}