body
{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.post-grid
{
    display: grid;
    grid-template-areas:
    "h h h h h h h h h h h h"
    "s m m m m m m m m m m m"
    "s m m m m m m m m m m m"
    "s m m m m m m m m m m m"
    "f f f f f f f f f f f f"
    "f f f f f f f f f f f f"
    "f f f f f f f f f f f f";
}

.post-header
{
    grid-area: h;
    padding: 2rem;
}

.post-sidebar
{
    grid-area: s;
}

.post-main
{
    grid-area: m;
    padding: 3rem;
}

.nav-ul
{
    align-items: center;
}

.post-avatar
{
    width: 15vw;
    min-width: 100px;
    min-width: 250px;
    border-radius: 50%;
    border: 20px double var(--red);
}

.author-name
{
    font-family: var(--charter);
    font-size: var(--font-size-md);
}

.job-title
{
    font-family: var(--noticia);
    font-style: italic;
    font-weight: lighter;
}

.short-bio
{
    font-family: var(--charter);
    font-style: italic;
    font-size: var(--font-size-sm);
}

.main-headline
{
    text-align: start;
}

.headline-pic
{
    margin-top: 20px;
    padding: 5px;
    width: 30vw;
    min-width: 200px;
    max-width: 350px;
}

.post-footer
{
    grid-area: f;
    background-color: var(--red);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.blog-post-content-container
{
    padding: 3%;
    display: flex;
    flex-flow: column nowrap;
}

.blog-pic
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    width: 25vw;
    min-width: 150px;
    max-width: 300px;
}

.blog-post-p
{
    margin: 2%;
    font-family: var(--charter);
    font-size: var(--font-size-md);
}

.blog-post-h5
{
    margin-top: 3%;
    font-family: var(--noticia);
    font-size: var(--font-size-md);
}

.blog-post-link
{
    font-size: var(--font-size-md);
    font-family: var(--noto-sans);
    color: var(--black);
    text-decoration: none;
    transition: color 0.3s
}

.blog-post-link:hover
{
    color: var(--red);
}